body {
    height: 100vh;
    background: linear-gradient(135deg, #6f4e37, #d2b48c);
    /* background-color: #f3e5d8; */
    display: flex;
    justify-content: center;
    align-items: center;
 
   font-family: 'Poppins', sans-serif;
   position: relative;

}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.card {
    background-color: #f8f1ea;
    width: 500px;
    padding: 40px;
    border-radius: 20px;
    position: relative;
    z-index: 2;
}
.card h1 {
     font-family: 'Marcellus', serif;
}

.input-section {
    display: flex;
    align-items: center;
    gap: 12px;
     margin-bottom: 25px;
}
.input-task {
    flex: 1;
    padding: 14px 16px;
    border: 1px solid #d6c4b7;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    background-color: #fffaf6;
    transition: 0.2s ease;
    border-color: #8b6a52;
    
}
.add-task {
    padding: 14px 20px;
    border: none;
    border-radius: 10px;
    background-color: #8b6a52;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease;
}

.add-task:hover {
    background-color: #755742;
}



.done {
    /* background-color:#a67c63; */

    background-color: #7a8f6a;
    color: white;
    border-radius: 10px;
    padding: 8px 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease;
    min-width: 80px;
}

.done:hover {
    background-color: #667a58;
}

.remove-btn {
    background-color:#9c4f45;;
    color: white;
    border-radius: 10px;
    padding: 8px 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease;
    min-width: 80px;
}

.remove-btn:hover {
    background-color: #834239;
}
.task-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
     padding: 15px 20px;
}
.task-actions {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px 16px;
   
   
}


.circle-top,
.circle-bottom {
    position: absolute;
    width: 300px;
    height: 300px;
   background-color: rgba(255, 255, 255, 0.18);
    border-radius: 50%;
    z-index:1;   /* pushes behind card */
    filter: blur(1.5px);
}
.circle-top {
    top: -120px;
    left: 50%;
    transform: translateX(-140%);
}

.circle-bottom {
    bottom: -120px;
    left: 50%;
    transform: translateX(40%);
}
.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.clear-all {
    margin-bottom: 15px;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    background-color: #9c4f45;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
}

.clear-all:hover {
    background-color: #834239;
}

.empty-message {
    text-align: center;
    margin-top: 15px;
    color: #8b6a52;
    font-style: italic;
    display: none;  /* hidden by default */
}